<p>This is new client view.</p>

<div ng-controller="ClientEditCtrl">

  <form ng-submit="update()">
    <input type="hidden" id="client_id" ng-model="client.client_id">
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">First Name</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" placeholder="your first name" ng-model="client.first_name">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Last Name</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" placeholder="yout last name" ng-model="client.last_name">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Date of Birth</label>
          </div>
          <div class="small-9 columns">
            <input type="text" class="span2" datepicker data-date-format="dd/mm/yy" ng-model="client.dob">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Gender</label>
          </div>
          <div class="small-9 columns">
            <input type="radio" value="true" ng-model="client.male_gender" ><label>Male</label>
            <input type="radio" value="false" ng-model="client.male_gender"><label>Female</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <input type="submit" value="Submit">
          </div>
          <div class="small-9 columns">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
