<div ng-controller="ClientIndexCtrl">

  <div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">First Name</label>
          </div>
          <div class="small-9 columns">
            <label>{{ client.first_name }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Last Name</label>
          </div>
          <div class="small-9 columns">
            <label>{{ client.last_name }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Date of Birth</label>
          </div>
          <div class="small-9 columns">
            <label>{{ client.dob }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Gender</label>
          </div>
          <div class="small-9 columns">
            <label>{{ client.male_gender }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div ng-controller="ClientExperienceIndexCtrl">

  <div ng-controller="ClientExperienceIndexCtrl">

    <table>
      <tr>
        <th>company</th>
        <th>position</th>
        <th>start time</th>
        <th>end time</th>
      </tr>
      <tr ng-repeat="exp in experiences">
        <td>{{ exp.company }}</td>
        <td>{{ exp.position }}</td>
        <td>{{ exp.start_time }}</td>
        <td>{{ exp.end_time }}</td>
      </tr>
    </table>

  </div>

</div>
