<div ng-controller="ClientIndexCtrl">

  <div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">First Name</label>
          </div>
          <div class="small-9 columns">
            <label>{{ client.first_name }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Last Name</label>
          </div>
          <div class="small-9 columns">
            <label>{{ client.last_name }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Date of Birth</label>
          </div>
          <div class="small-9 columns">
            <label>{{ client.dob }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Gender</label>
          </div>
          <div class="small-9 columns">
            <label>{{ client.male_gender }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-controller="ClientExperienceIndexCtrl" ng-init="init(client.id)">

    <input type="text"  ng-model="experience.clientId"  ng-init="experience.clientId=client.id"/>

    <table>
      <tr>
        <th>company</th>
        <th>position</th>
        <th>start time</th>
        <th>end time</th>
      </tr>
      <tr ng-repeat="exp in experiences">
        <td>{{ exp.company }}</td>
        <td>{{ exp.position }}</td>
        <td>{{ exp.started_on }}</td>
        <td>{{ exp.ended_on }}</td>
      </tr>
    </table>

    <div ng-click="changeView(client.id)">
      add new
    </div>
  </div>

</div>


