<div ng-controller="ClientIndexCtrl">

  <div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">First Name</label>
          </div>
          <div class="small-9 columns">
            <label>{{ client.first_name }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Last Name</label>
          </div>
          <div class="small-9 columns">
            <label>{{ client.last_name }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Date of Birth</label>
          </div>
          <div class="small-9 columns">
            <label>{{ client.dob }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Gender</label>
          </div>
          <div class="small-9 columns">
            <label>{{ client.male_gender }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a ng-click="editBasicData(client.id)"  class="button">
    edit basic data
  </a>

  <div ng-controller="ClientExperienceIndexCtrl">

    <table>
      <tr>
        <th>company</th>
        <th>position</th>
        <th>start time</th>
        <th>end time</th>
      </tr>
      <tr ng-repeat="exp in experiences">
        <td> <a href="/#/exp/{{ exp.id }}/edit" >{{ exp.company_name }}</a></td>
        <td>{{ exp.position }}</td>
        <td>{{ exp.started_on }}</td>
        <td>{{ exp.ended_on }}</td>
      </tr>
    </table>

    <a ng-click="changeView(client.id)" class="button">add new experience</a>
  </div>

  <div ng-controller="ClientEduIndexCtrl">

    <table>
      <tr>
        <th>school name</th>
        <th>city</th>
        <th>country</th>
        <th>start</th>
        <th>end</th>
        <th>faculty</th>
      </tr>
      <tr ng-repeat="edu in educations">
        <td> <a href="/#/edu/{{ edu.id }}/edit" >{{ edu.school_name }}</a></td>
        <td>{{ edu.city }}</td>
        <td>{{ edu.country }}</td>
        <td>{{ edu.start | date:'dd/MM/yyyy' }}</td>
        <td>{{ edu.end | date:'dd/MM/yyyy'}}</td>
        <td>{{ edu.faculty }}</td>
      </tr>
    </table>

    <a ng-click="changeView(client.id)" class="button">add new education</a>
  </div>

</div>


