<p>Please add your new experience</p>

<div ng-controller="ClientExperienceEditCtrl">

  <form ng-submit="update()">
    <input type="hidden" id="client_id" ng-model="exp.client_id">
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Company</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" placeholder="organization name" ng-model="exp.company_name">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">position</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" placeholder="your position" ng-model="exp.position">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Start date</label>
          </div>
          <div class="small-9 columns">
            <input type="text" class="span2" datepicker data-date-format="mm/dd/yy" id="dp2" ng-model="exp.started_on">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">end date</label>
          </div>
          <div class="small-9 columns">
            <input type="text" class="span2" datepicker data-date-format="mm/dd/yy" id="dp2" ng-model="exp.ended_on">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <input type="submit" class="button" value="update">
          </div>
          <div class="small-9 columns">
            <a ng-click="delete(exp.id)" class="button">delete</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
