<div ng-controller="ClientEduIndexCtrl">

  <table>
    <tr>
      <th>school name</th>
      <th>city</th>
      <th>country</th>
      <th>start</th>
      <th>end</th>
      <th>faculty</th>
    </tr>
    <tr ng-repeat="edu in educations">
      <td> <a href="/#/edu/{{ edu.id }}/edit" >{{ edu.school_name }}</a></td>
      <td>{{ edu.city }}</td>
      <td>{{ edu.country }}</td>
      <td>{{ edu.start | date:'dd/MM/yyyy' }}</td>
      <td>{{ edu.end | date:'dd/MM/yyyy'}}</td>
      <td>{{ edu.faculty }}</td>
    </tr>
  </table>

  <a ng-click="changeView(client.id)" class="button">add new education</a>
</div>
