<p>Please add your new education</p>

<div ng-controller="ClientEduNewCtrl">

  <form ng-submit="create()">
    <input type="hidden" id="client_id" ng-model="edu.school_name">
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">School Name</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" placeholder="organization name" ng-model="edu.school_name">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">city</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" placeholder="your position" ng-model="edu.city">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">country</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" placeholder="your position" ng-model="edu.country">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">Start date</label>
          </div>
          <div class="small-9 columns">
            <input type="text" class="span2" datepicker data-date-format="mm/dd/yy" id="dp1" ng-model="edu.start">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">end date</label>
          </div>
          <div class="small-9 columns">
            <input type="text" class="span2" datepicker data-date-format="mm/dd/yy" id="dp2" ng-model="edu.end">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <label for="right-label" class="right inline">faculty</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="right-label" placeholder="your position" ng-model="edu.faculty">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-8 columns">
        <div class="row">
          <div class="small-3 columns">
            <input type="submit" value="Submit">
          </div>
          <div class="small-9 columns">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
