<div ng-controller="ClientIndexCtrl">

  <div class="maindiv">
    <div class="row">
      <div class="small-12 medium-3 large-3 columns profileimgplc" >
        <img ng-src="{{imageSrc}}" />
        <div class="row">
          <div class="button" ngf-select="upload($file)">Upload on file select</div>
        </div>
      </div>

      <div class="small-12 medium-9 large-9 columns">
        <div class="row">
          <div class="small-12 medium-12 large-6 columns">
            <div class="row">
              <div class="formpack">
                <div class="small-5 columns left">
                  <label for="right-label" class=" labelfont">First Name</label>
                </div>
                <div class="small-7 columns">
                  <label>{{ client.first_name }}</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="formpack">
                <div class="small-5 columns left">
                  <label for="right-label" class=" labelfont">Last Name</label>
                </div>
                <div class="small-7 columns ">
                  <label>{{ client.last_name }}</label>
                </div>
              </div>
            </div>
          </div>
          <div class="small-12 medium-12 large-6 columns">
            <div class="row">
              <div class="formpack">
                <div class="small-5 columns left">
                  <label for="right-label" class=" labelfont">Date of Birth</label>
                </div>
                <div class="small-7 columns">
                  <label>{{ client.dob }}</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="formpack">
                <div class="small-5 columns left">
                  <label for="right-label" class=" labelfont">Gender</label>
                </div>
                <div class="small-7 columns">
                  <label>{{ client.male_gender }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row buttonrow" >
          <h2>
          <span>
          <a ng-click="editBasicData(client.id)"  class="right button">
            edit basic data</a></span></h2>
        </div>


        <div ng-include src="'/views/experiences/index.html'"></div>
        <div ng-include src="'/views/educations/index.html'"></div>

      </div>
    </div>
  </div>
</div>
